.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1230px;
    min-height: 100vh;

    padding: 0 15px;
    margin: 0 auto;
}

.card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}